* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.header {
    background-color: black;
    border: solid 2px rgb(173, 173, 173);
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
    width: 100%;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 1%;
    border: solid 3px;
    border-color: #525252;
    background-color: #a99a9a;
    border-radius: 10%;
    width: 25%;
}

.divider {
    background-color: black;
    padding: 2px;
    width: 100%;
    border: solid 2px rgb(173, 173, 173);
    display: block;
}

.section_header {
    color: white;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-color: black;
    border: solid 2px rgb(173, 173, 173);
    display: inline-block;
    width: auto;
    padding: 3px;
}

.entry {
    margin-bottom: 3px;
}

.submit_button {
    margin-left: 6.5%;
    margin-top: 10px;
}
